
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="~/assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Mini Quiz</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/assets/img/blog/blog1-2.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Data Structures and Algorithms Quiz</h2>
                            </a>
                            <p>
                                This type of quiz tests your understanding of various data structures (like arrays, linked lists, stacks, queues, trees, and graphs) and algorithms (like sorting, searching, dynamic programming). You might be asked to write code, analyze the complexity of algorithms, or explain how particular data structures work.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> #AlgorithmsQuiz</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 20 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/assets/img/blog/blog1-3.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Object-Oriented Programming Quiz</h2>
                            </a>
                            <p>
                                This quiz would test your knowledge of object-oriented programming principles such as inheritance, encapsulation, polymorphism, and abstraction. You might be asked to design classes, implement methods, or identify the relationships between different objects.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> #OOPQuiz</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/assets/img/blog/blog3-.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Software Development Life Cycle (SDLC) Quiz:</h2>
                            </a>
                            <p>
                                This quiz would test your knowledge of the different stages in the software development process, from requirements analysis and design to implementation, testing, and maintenance. You might be asked about different development methodologies (like Agile, Scrum, or Waterfall), project management techniques, or how to handle changes in requirements.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> #SDLCQuiz</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 54 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/assets/img/blog/blog4.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Database Systems Quiz</h2>
                            </a>
                            <p>
                                A quiz on this topic would test your understanding of database concepts such as SQL queries, ER diagrams, normalization, transactions, and indexing. You might be asked to design a database schema, write SQL queries, or explain how certain database technologies work.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> #SQLQuiz</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 122 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/assets/img/blog/blog6.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Software Testing Quiz</h2>
                            </a>
                            <p>
                                This quiz would test your knowledge of the different stages in the software development process, from requirements analysis and design to implementation, testing, and maintenance. You might be asked about different development methodologies (like Agile, Scrum, or Waterfall), project management techniques, or how to handle changes in requirements.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> #TestingMethodologiesQuiz</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 39 Comments</a></li>
                            </ul>
                        </div>
                    </article>

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btns" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">
                                Search
                            </button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Web Development  </p>
                                    <p> (37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Database Systems  </p>
                                    <p> (10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Software Development Methodologies  </p>
                                    <p> (03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Cybersecurity  </p>
                                    <p> (11)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Artificial Intelligence & Machine Learning  </p>
                                    <p> (21)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Functional Programming  </p>
                                    <p> (09)</p>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="media post_item">
                            <img src="~/assets/img/post/post1.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Software Development ...</h3>
                                </a>
                                <p>April 12, 2023</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/assets/img/post/post2.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Cloud Computing</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/assets/img/post/post3.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Functional Programming</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/assets/img/post/post4.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Algorithms</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">Trees</a>
                            </li>
                            <li>
                                <a href="#">NoSQL</a>
                            </li>
                            <li>
                                <a href="#">UnitTesting</a>
                            </li>
                            <li>
                                <a href="#">Angular</a>
                            </li>
                            <li>
                                <a href="#">Flutter</a>
                            </li>
                            <li>
                                <a href="#">Machine Learning</a>
                            </li>
                            <li>
                                <a href="#">Kotlin</a>
                            </li>
                            <li>
                                <a href="#">Closures</a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/assets/img/post/post5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/assets/img/post/post4.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/assets/img/post/post3.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/assets/img/post/post2.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/assets/img/post/post1.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/assets/img/post/post6.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">
                                Subscribe
                            </button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>