
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <section class="container-box Forms">


        <!-- Signup Form -->

        <div class="joinus-form signup">
            <div class="form-content">
                <header>Sign Up Employers</header>
                <form action="#">
                    <div class="fieldjoin input-field">
                        <input type="name" placeholder="Company Name" class="input">
                    </div>
                    <div class="fieldjoin input-field">
                        <input type="name" placeholder="Full Name" class="input">
                    </div>
                    <div class=" fieldjoin input-field">
                        <input type="email" placeholder="Email Address" class="input">
                    </div>
                    <div class=" fieldjoin input-field">
                        <input type="number" placeholder="Phone Number" class="input">
                    </div>
                    <div class=" fieldjoin input-field">
                        <input type="number" placeholder="Vergi Levhasi" class="input">
                    </div>
                    <div class=" fieldjoin input-field">
                        <input type="password" placeholder="Create password" class="password">
                    </div>



                    <div class=" fieldjoin button-field">
                        <button>Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                </div>
            </div>



        </div>
    </section>

</body>
