
@{
    ViewData["Title"] = "SkillAdd";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}



<!-- Card -->
<div id="emailSection" class="card mb-3 mb-lg-5">
    <div class="card-header">
        <h3 class="card-title h4">Add Skill</h3>
    </div>

    <!-- Body -->
    <div class="card-body">

        <!-- Form -->
        <form method="post">
            <!-- Form Group -->
            <div class="row form-group">
                <label for="SkillName" class="col-sm-3 col-form-label input-label">New Skill</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" name="SkillName" id="SkillName" placeholder="Skill Name" aria-label="Skill Name">
                </div>
            </div>
            <!-- End Form Group -->

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
        <!-- End Form -->
    </div>
    <!-- End Body -->
</div>
<!-- End Card -->